<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yyc.dao.ReaderMapper">
<resultMap id="ReaderResult" type="com.yyc.entity.Reader">
    <id property="idCard" column="id_card"/>
    <result property="name" column="name"/>
    <result property="age" column="age"/>
    <result property="gender" column="gender"/>
    <result property="cardState" column="card_state"/>
    <result property="cardDate" column="card_date"/>
</resultMap>

<select id="getReader" resultMap="ReaderResult">
    select * from readers WHERE id_card = #{idCard}
</select>


<update id="updateReader" parameterType="com.yyc.entity.Reader">
    UPDATE readers SET name = #{name},age = #{age},gender = #{gender},card_state = #{cardState},card_date = #{cardDate} WHERE id_card = #{idCard}
</update>
    <insert id="insertReader" parameterType="com.yyc.entity.Reader">
        INSERT readers VALUES (#{idCard},#{name},#{age},#{gender},#{cardState},#{cardDate})
    </insert>
</mapper>