<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yyc.dao.ReaderBookInfoMapper">
    <insert id="insertRecord" parameterType="com.yyc.entity.ReaderBookInfo">
    INSERT INTO rb VALUES (#{idCard},#{ISBN},#{borrowingDate},#{returnDate})
   </insert>

    <update id="updateRbReturnDate" >
        UPDATE rb SET return_date = #{returnDate} WHERE ISBN = #{ISBN} AND id_Card = #{idCard}
    </update>

</mapper>